/* COMMONS ROULES */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

img {
    max-width: 100%;
}

.btn {
    border-radius: 3rem;
}


/* DEBUG */


/* UTILITY */

:root {
    --br_play_light: white;
    --br_play_dark: black;
    --br_play_blue: #161C3B;
    --br_play_darkbrown: #1F1F1F;
    --br_play_grey: #BEBCBB;
    --br_btn_darkgrey: #363636;
    --br_btn_blue: #2D64E6;
    --c_text_white: white;
    --c_text_blue: #2183D4;
    --c_text_red: #CD3D0F;
    --c_text_black: black;
    --c_text_grey: #727272;
    --br_play_footer: #00439C;
}

.br_play_grey {
    background-color: var(--br_play_grey);
}

.br_play_darkbrown {
    background-color: var(--br_play_darkbrown);
}

.br_play_blue {
    background-color: var(--br_play_blue);
}

.br_play_footer {
    background-color: var(--br_play_footer);
}

.c_grey {
    color: var(--c_text_grey);
}

.c_white {
    color: var(--c_text_white);
}

.c_dark {
    color: var(--c_text_black);
}

.c_blue {
    color: var(--c_text_blue);
}

.mt_5 {
    margin-top: 5rem;
}

.mt_7 {
    margin-top: 7rem;
}

.mt_8 {
    margin-top: 8rem;
}

.consolle_img {
    max-width: 50%;
    margin-bottom: 10px;
}

.img_50 {
    max-width: 50%;
}

.w_5 {
    width: 50%;
}


/* HEADER */

.dropdown-toggle {
    display: flex;
    align-items: center;
}

.dropdown-toggle::after {
    border: none;
    font: var(--fa-font-solid);
    content: "\f107";
}

.dropdown-toggle.show::after {
    content: "\f106";
}

.effetto_shadow:hover .card {
    box-shadow: 0px 0px 5px 1px;
}


/* MAIN */


/* jumbotron */

.hero {
    background-image: url("../img/jumbo-bg.png");
    background-size: cover;
    background-position: top;
    height: 600px;
    background-repeat: no-repeat;
}


/* section - plays */

.effetto_trans {
    transition: all 1s;
}

.effetto_trans:hover {
    margin-top: -5px;
}


/* section - consolle */

.effetto_riga:hover {
    border-bottom: 1px solid var(--br_btn_blue);
}


/* section - presentationplay */

.presentationplay {
    background-image: url("../img/it-takes-two-hero-banner-desktop.jpg");
    background-size: cover;
    background-position: center;
    height: 600px;
    background-repeat: no-repeat;
}


/* FOOTER */

@media screen and (max-width:576) {}

@media screen and (max-width:768) {}

@media screen and (min-width:720) {}