/* COMMONS ROULES */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

img {
    max-width: 100%;
}

.btn {
    border-radius: 3rem;
}


/* DEBUG */

.debug .hero {
    background-color: #2183D4;
    height: 500px;
}


/* UTILITY */

:root {
    --br_play_light: white;
    --br_play_dark: black;
    --br_play_blue: #161C3B;
    --br_play_darkbrown: #1F1F1F;
    --br_play_grey: #BEBCBB;
    --br_btn_darkgrey: #363636;
    --br_btn_blue: #2D64E6;
    --c_text_white: white;
    --c_text_blue: #2183D4;
    --c_text_red: #CD3D0F;
    --c_text_black: black;
    --c_text_grey: #727272;
    --br_play_footer: #00439C;
}

.br_play_grey {
    background-color: var(--br_play_grey);
}

.br_play_darkbrown {
    background-color: var(--br_play_darkbrown);
}

.br_play_blue {
    background-color: var(--br_play_blue);
}

.c_grey {
    color: var(--c_text_grey);
}

.c_white {
    color: var(--c_text_white);
}

.c_dark {
    color: var(--c_text_black);
}

.c_blue {
    color: var(--c_text_blue);
}

.mt_7 {
    margin-top: 7rem;
}

.mt_8 {
    margin-top: 8rem;
}

.consolle_img {
    max-width: 50%;
    margin-bottom: 10px;
}

.img_50 {
    max-width: 50%;
}

.w_7 {
    width: 70%;
}


/* HEADER */


/* MAIN */


/* FOOTER */